# Database
DB_TYPE=postgresdb

DB_POSTGRESDB_HOST=<supabase-host>
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=<database-name>
DB_POSTGRESDB_USER=<database-user>
DB_POSTGRESDB_PASSWORD=<database-password>

# Security
N8N_ENCRYPTION_KEY=<encryption-key>

# App
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http

WEBHOOK_URL=http://localhost:5678/

GENERIC_TIMEZONE=America/El_Salvador