NODE_ENV=EXAMPLE_ENVIRONMENT_NAME
PORT=####

#DATABASE
DATABASE_HOST=HOST_EXAMPLE
DATABASE_PORT=####
DATABASE_NAME=NAME_EXAMPLE
DATABASE_USER=USER_EXAMPLE
DATABASE_PASSWORD=PASSWORD_EXAMPLE

#JWT
JWT_SECRET=EXAMPLE_KEY
JWT_EXPIRES_IN=1d

#Frontend permitido (CORS)
CORS_ORIGIN=FRONTEND_URL

#STORAGE
STORAGE_METHOD=local
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
SUPABASE_STORAGE_BUCKET=your-file-bucket